---
---

@import "{{ site.theme }}";

li ul {
    margin: 0;
}

code.highlighter-rouge {
    padding: 4px 0px;
    margin: 0;
    color: #90a959;
}

a code {
    text-decoration: underline;
}

section #title .credits {
    color: #f0e7d5;
    font-size: 14px;
}